---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<h2>Full Stack Web Development</h2>
		<p>Full Stack Web Development with Laravel, Vue, TailwindCSS, and MySQL. I have also used jQuery, JavaScript, Bootstrap, and Python for past projects
			and work.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2>QA Testing, API Testing, and UI/UX Testing</h2>
		<p>Manual QA Testing using different browsers and platforms, unit tests using PHP Unit tests, API Testing using Postman, and UI/UX Testing using Puppeteer.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2>Accessibility design for UI and UX.</h2>
		<p>Making sure that the design of websites are compliant with AODA and W3C Web Accessibility Initiative (WAI) standards.</p>
	</div>
</section>

<style>
	.box {
		border: var(--border-card);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--bg-card);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-300);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
